<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="host" value="https://demo.odoo.com" />
		<add key="database" value="demo" />
		<add key="username" value="demo@gmail.com" />
		<add key="password" value="demoPass" />
		<add key="companyId" value="1"/>
	</appSettings>
</configuration>